.image-cont {
  display: flex;
  justify-content: center;
}

.image-cont > img {
  max-height: 100%;
  max-width: auto;
}

.image-cont-3 {
  display: flex;
  justify-content: center;
}

.image-cont-3 > img {
  max-height: 100%;
  max-width: auto;
}

.image-cont-2 {
  height: 400px;
  display: flex;
  justify-content: center;
}

.image-cont-4 {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}

.image-cont-4 > img {
  max-height: 100%;
  max-width: auto;
}

.header {
  margin-left: 10px;
  text-shadow: 2px 2px 2px purple;
}

.head-cont {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  white-space: nowrap;
  position: relative;
}

.yellow-thing {
  position: absolute;
  z-index: -1;
  left: 13rem;
}

@media screen and (max-width: 500px) {
  .yellow-thing {
    left: 0;
  }
}

.head-cont h1 {
  margin: 0;
}

span {
  margin: 0;
  color: white;
  font-size: 40px;
  text-shadow: 2px 2px 2px purple;
}

.bio1 {
  display: flex;
  justify-content: center;
  margin-right: 15%;
  margin-left: 15%;
  font-size: 20px;
  position: relative;
}

.container p {
  text-align: center !important;
  color: rgb(62, 27, 77);
  font-weight: 500;
  text-align: left;
  position: relative;
  text-shadow: 1px 1px 3px rgb(224, 150, 52);
}

.bio-pic {
  position: absolute;
  z-index: -1;
  right: 5rem;
  top: 90%;
}
.mari-karuna {
  clip-path: polygon(90% 0, 100% 50%, 86% 100%, 29% 100%, 0 68%, 0% 0%);
}

.withRic {
  display: flex;
  justify-content: center;
  margin-right: 10px;
  position: relative;
  /* margin-right: 15%;
  margin-left: 15%; */
}

.blue-wave {
  position: absolute;
  z-index: -1;
  left: 0;
}

.withRic p {
  text-align: left;
}

@media screen and (min-width: 400px) {
  .final {
    flex-direction: column;
  }
}

.final {
  justify-content: center;
  align-content: center;
  margin-top: 30px;
  margin-bottom: 50px;
}

/* iphone 5 */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  .image-cont {
    height: 200px;
  }

  .image-cont > img {
    height: 200px;
  }

  .image-cont-3 > img {
    height: 200px;
  }

  .image-cont-4 > img {
    height: 200px;
  }
}

/* Galaxy Fold */
@media (max-width: 320px) {
  .about h1 {
    font-size: 40px;
  }

  .about span {
    font-size: 30px;
  }

  .image-cont {
    height: 200px;
  }

  .image-cont > img {
    height: 200px;
  }

  .image-cont-3 > img {
    height: 200px;
  }

  .image-cont-4 > img {
    height: 200px;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .image-cont {
    height: 200px;
  }

  .image-cont > img {
    height: 200px;
  }

  .image-cont-3 > img {
    height: 200px;
  }

  .image-cont-4 > img {
    height: 200px;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .image-cont {
    height: 200px;
  }

  .image-cont > img {
    height: 200px;
  }

  .image-cont-3 > img {
    height: 200px;
  }

  .image-cont-4 > img {
    height: 200px;
  }
}

/* for ipad */
@media only screen and (device-width: 768px) {
  .image-cont {
    display: flex;
    justify-content: center;
    height: 400px;
  }

  .image-cont-3 {
    display: flex;
    justify-content: center;
    height: 400px;
  }

  .image-cont-4 {
    display: flex;
    justify-content: center;
    height: 400px;
    margin-bottom: 5%;
  }

  .yellow-thing {
    left: 0;
  }
}

@media only screen and (min-width: 400px) {
  .image-cont {
    display: flex;
    justify-content: center;
    height: 400px;
  }
  .image-cont-3 {
    display: flex;
    justify-content: center;
    height: 400px;
  }
  .image-cont-4 {
    display: flex;
    justify-content: center;
    height: 400px;
  }
}
