@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .container {
    background-color: blue;
  }

  .image-cont > img {
    height: 20px;
  }

  .image-cont-3 > img {
    height: 20px;
  }

  .image-cont-4 > img {
    height: 20px;
  }
}

/* .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

.image-cont {
  display: flex;
  justify-content: center;
  height: 400px;
}

.image-cont > img {
  max-height: 100%;
  max-width: auto;
}

.image-cont-3 {
  display: flex;
  justify-content: center;
  height: 400px;
}

.image-cont-3 > img {
  max-height: 100%;
  max-width: auto;
}

.image-cont-2 {
  height: 400px;
  display: flex;
  justify-content: center;
}

.image-cont-4 {
  height: 400px;
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}

.header {
  margin-left: 10px;
  text-shadow: 2px 2px 2px purple;
}

.head-cont {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  white-space: nowrap;
}

.head-cont h1 {
  margin: 0;
}

span {
  margin: 0;
  color: white;
  font-size: 40px;
  text-shadow: 2px 2px 2px purple;
}

.bio1 {
  display: flex;
  justify-content: center;
  margin-right: 15%;
  margin-left: 15%;
  font-size: 20px;
}

.container p {
  color: rgb(0, 0, 0);

  text-align: left;
}
.mari-karuna {
  clip-path: polygon(90% 0, 100% 50%, 86% 100%, 29% 100%, 0 68%, 0% 0%);
}

.withRic {
  display: flex;
  justify-content: center;
  margin-right: 10px;
  /* margin-right: 15%;
  margin-left: 15%; */
}

.withRic p {
  text-align: left;
}

@media screen and (min-width: 400px) {
  .final {
    flex-direction: column;
  }
}

.final {
  justify-content: center;
  align-content: center;
  margin-top: 30px;
  margin-bottom: 50px;
}
