.form-cont {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  width: 400px;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .form-cont {
    width: 250px;
  }
}
.contact-page {
  margin-top: 40px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: whitesmoke;
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
}

.label {
  font-size: 24px;
  color: white;
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
}

.size1 {
  font-size: 26px;
}

.header {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.interested {
  margin-right: 10%;
  margin-left: 10%;
}
