.form-cont {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  width: 400px;
}

.treatment h1 {
  margin-left: 5%;
}

.text-block {
  text-align: center;
  font-size: 20px;
  margin-left: 10%;
  margin-right: 10%;
}

#friend {
  margin-top: 40px;
}

.t-image-cont {
  margin: auto;
}

.t-image-cont img {
  max-height: 350px;
  max-width: 100vw;
}

.title {
  margin-left: 10%;
}

.text-block {
  text-align: center;
  font-size: 20px;
  margin-left: 15%;
  margin-right: 15%;
}
.contact-page {
  margin-top: 40px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: whitesmoke;
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
}

.label {
  font-size: 24px;
  color: white;
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
}

.size1 {
  font-size: 26px;
}

.header {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.interested {
  margin-right: 10%;
  margin-left: 10%;
}

.book2 {
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
  /* border-radius: 50px; */
  /* box-shadow: 0 6px #dab94e; */
  font-family: "DM Serif Display";
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: white;
  background: none;
  cursor: pointer;
  padding: 10px 30px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  /* position: relative; */
}

/* iphone 5 */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  .form-cont {
    width: 250px;
  }
}

/* iphone X */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .form-cont {
    width: 250px;
  }
}

/* iphone 6/7/8 */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .form-cont {
    width: 250px;
  }
}

/* iphone 6+/7+/8+ */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
  .form-cont {
    width: 250px;
  }
}

/* Galaxy S5 */

@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
  .form-cont {
    width: 250px;
  }
}

/* Galaxy Fold */
@media (max-width: 320px) {
  .form-cont {
    width: 250px;
  }
}
