.topic {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
}

.topic > h1 {
  font-size: 50px;
}

.topic > p {
  text-align: center;
  font-size: 20px;
}
