.hero-block {
  /* scroll-snap-align: start; */
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  transition: background 1.5s linear;
  margin: auto;
}

.hero-block > img {
  max-width: 100%;
  height: auto;
}

.carousel {
  margin-top: 5%;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

.carousel > img {
  margin-top: 60px;
  max-width: 100vw;
}

.logo {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-left: 10%;
  margin-right: 10%;
  max-height: 500px;
  max-width: auto;
  margin-bottom: 60px;
}

/* @media screen and (min-width: 400px) {
  .hero-block {
    scroll-snap-align: start;
    height: 100%;
    width: 100%;
    background-position: none;
    background-size: 100%;
    background-repeat: no-repeat;
    transition: background 1.5s linear;
  }
  .h1 {
    font-size: 60px;
  }
} */

.text {
  text-align: center;
  margin-top: 10%;
  margin-left: 20%;
  margin-right: 20%;

  font-size: 40px;
  color: rgb(252, 251, 233);
  text-shadow: 4px 4px 4px rgb(0, 0, 0);
}

button {
  margin: 10%;
}

.button-cont {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 10%;
}

h1 {
  margin-top: 40px;
  font-size: 80px;
  color: white;
}
@media screen and (max-width: 800px) {
  .text {
    margin-top: 8%;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 0px;
  }
  .button-cont {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
  }

  .logo {
    margin-top: 5%;
  }

  h1 {
    margin-bottom: 20px;
  }
}

h2 {
  color: white;
}

ul,
li {
  color: white;
}

.book {
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
  /* border-radius: 50px; */
  box-shadow: 0 6px #dab94e;
  font-family: "DM Serif Display";
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: white;
  background: none;
  cursor: pointer;
  padding: 10px 30px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  /* position: relative; */
}

.book:hover {
  color: gold;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .logo {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    height: 200px;
  }

  .text {
    font-size: 30;
  }
}
