@media only screen and (min-width: 800px) {
  .service {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 800px) {
  h1 {
    font-size: 70px;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  h1 {
    font-size: 50px;
  }
}

.big-container {
  margin-top: 5%;
}

.common-cond {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.title-desc {
  margin: 30px;
}

.fem {
  font-size: 20px;
}

.service {
}
