.services {
  /* scroll-snap-align: start; */
  /* height: 1000px; */
  text-align: center;
}

.content {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-image: url("../assets/services/bfeed.jpg");
  color: white;
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
}

.title {
  text-align: left;
}

li {
  color: white;
  font-size: 24px;
  text-align: left;
}

.content2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* background-image: url("../assets/services/bfeed.jpg"); */
  color: white;
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
}

.male {
  display: flex;
  justify-content: center;
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
}

.chronlist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
}

.content3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-image: url("../assets/services/laugh.jpg");
  color: white;
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
}

.fem {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 80%;
  font-size: 20px;
}

#pre-post {
}

.gender-quote {
  margin: auto;
  display: flex;
  justify-content: center;
  text-align: center;
  color: black;
  text-shadow: none;
  width: 75%;
  font-size: 28px;
}
