.treatment {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.2fr;
  grid-template-areas: "content content2";
}

@media only screen and (max-width: 1080px) {
  .treatment {
    grid-template-columns: 1fr;

    grid-template-areas:
      "title"
      "content"
      "content";
  }

  .treatment h1 {
    margin-left: 5%;
  }

  .text-block {
    text-align: center;
    font-size: 20px;
    margin-left: 10%;
    margin-right: 10%;
  }

  #friend {
    margin-top: 40px;
  }
}

.t-image-cont {
  margin: auto;
}

.t-image-cont img {
  max-height: 350px;
}

.title {
  margin-left: 10%;
}

.text-block {
  text-align: center;
  font-size: 20px;
  margin-left: 15%;
  margin-right: 15%;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .treatment h1 {
    margin-left: 5%;
  }

  .text-block {
    text-align: center;
    font-size: 20px;
    margin-left: 10%;
    margin-right: 10%;
  }

  #friend {
    margin-top: 40px;
  }

  .t-image-cont {
    margin: auto;
  }

  .t-image-cont img {
    max-height: 350px;
    max-width: 100vw;
  }

  .title {
    margin-left: 10%;
  }

  .text-block {
    text-align: center;
    font-size: 20px;
    margin-left: 15%;
    margin-right: 15%;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .treatment h1 {
    margin-left: 5%;
  }

  .text-block {
    text-align: center;
    font-size: 20px;
    margin-left: 10%;
    margin-right: 10%;
  }

  #friend {
    margin-top: 40px;
  }

  .t-image-cont {
    margin: auto;
  }

  .t-image-cont img {
    max-height: 350px;
    max-width: 100vw;
  }

  .title {
    margin-left: 10%;
  }

  .text-block {
    text-align: center;
    font-size: 20px;
    margin-left: 15%;
    margin-right: 15%;
  }
}
