.treatment {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.2fr;
  grid-template-areas: "content content2";
}

@media only screen and (max-width: 550px) {
  .treatment {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1.5fr;
    grid-template-areas:
      "title"
      "content"
      "content";
  }
}
