.treatment {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.2fr;
  grid-template-areas: "content content2";
}

@media only screen and (max-width: 1080px) {
  .treatment {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr;
    grid-template-areas:
      "title"
      "content"
      "content";
  }

  .treatment h1 {
    font-size: 70px;
  }
  /* .image-cont {
    margin-top: 0;
  } */

  .text-block {
    margin: auto;
  }

  #friend {
    margin-top: 40px;
  }
}

img {
  max-height: 400px;
  width: auto;
}

.image-cont {
  margin: auto;
}

.title {
  margin-left: 10%;
}

.text-block {
  font-size: 20px;
  margin-left: 20%;
  margin-right: 20%;
}
