.treatment {

}

.treat-container {
  /* margin-left: 20px; */
}

.info1 {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: 50px;
  /* background-image: url("../assets//treatments/core-jen.jpg");
  background-size: cover;
  background-repeat: no-repeat; */
}

.info2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.text-block {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  padding: 5%;
  text-align: center;
}
