.treatment {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.2fr;
  grid-template-areas: "content content2";
}

@media only screen and (max-width: 1080px) {
  .treatment {
    grid-template-columns: 1fr;

    grid-template-areas:
      "title"
      "content"
      "content";
  }

  .treatment h1 {
    margin-left: 5%;
  }
  /* .image-cont {
    margin-top: 0;
  } */

  .text-block {
    margin: auto;
  }

  .text-block {
    text-align: center;
    font-size: 20px;
    margin-left: 10%;
    margin-right: 10%;
  }

  #friend {
    margin-top: 40px;
  }
}

.t-image-cont {
  margin: auto;
}

.t-image-cont img {
  max-height: 350px;
}

.title {
  margin-left: 10%;
}

.text-block {
  font-size: 20px;
  margin-left: 15%;
  margin-right: 15%;
}
