h4 {
  color: purple;
  text-shadow: 1px 1px 1px rgb(202, 175, 175);
}

h4:hover {
  color: gold;
  opacity: 0.55;
}

.nav-links {
  text-decoration: none;
}

h1 {
  text-shadow: 2px 2px 2px purple;
}

img {
  border-radius: 10px;
}
